@page
@model IndexModel
@{
    ViewData["Title"] = "Amega Demo - Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Amega Demo</h1>
    <p>
        Navigate to <a asp-area="" asp-page="/Privacy" class="fw-bold">Instruments</a> page to see the API integration in action or to 
        <a asp-area="" asp-page="/Privacy" class="fw-bold">Monitor</a> page to see the real-time data example.
    </p>
    <img src="img/innovation-simplicity.jpg" class="img-fluid" alt="" />
    <br/>
    <p>To learn more about us check out our <a href="https://www.amegacorp.com/">website</a>.</p>
</div>
