@page
@model web.Pages.MonitorModel
@{
    ViewData["Title"] = "Amega Demo - List of Instruments";
}

<div class="card card-flush h-xl-100">
    <!--begin::Header-->
    <div class="card-header pt-7 d-md-inline-flex justify-content-between align-items-md-center">
        <!--begin::Title-->
        <h4 class="card-title">
            <span class="card-label fw-bold text-gray-800">Subscribe To Rates</span>
        </h4>
        <!--end::Title-->
    </div>
    <!--end::Header-->

    <!--begin::Body-->
    <div class="card-body p-3 row">
       @* <partial name="/Pages/Shared/_BodyLoader.cshtml" />
       <partial name="/Pages/Shared/_ErrorBody.cshtml" /> *@
       <div class="row">
           <div class="col-12">
               <p>
                   Click a button to subscribe on live rates for a specific pair.
               </p>
               <div id="dSubscribeButtons" class="subscribe-buttons-container">

               </div>
           </div>
       </div>
    </div>
    <!--begin::Body-->
</div>
<br/><br/>
<div class="card card-flush h-xl-100">
    <!--begin::Header-->
    <div class="card-header pt-7 d-md-inline-flex justify-content-between align-items-md-center">
        <!--begin::Title-->
        <h4 class="card-title">
            <span class="card-label fw-bold text-gray-800">Subscribed Pairs</span>
        </h4>
        <!--end::Title-->
    </div>
    <!--end::Header-->
    <!--begin::Body-->
    <div class="card-body p-3 row">
        <div id="dSubscribedPairsContainer" class="subscribe-pairs-container row row-cols-1 row-cols-md-4 g-4">
        </div>
    </div>
    <!--begin::Body-->
</div>

<div id="dSubscribedTemplate" class="col-12 col-md-3 d-none">
    <div class="monitor-widget">
        <div class="monitor-widget-body">
            <img class="monitor-widget-body-img" alt=""/>
            <div class="monitor-widget-body-info">
                <span class="monitor-widget-body-info-rate"><span class="monitor-widget-body-info-rate-base"></span> = <span class="monitor-widget-body-info-rate-value">?</span><span class="monitor-widget-body-info-rate-non-base"></span></span>
                <h2 class="monitor-widget-body-info-desc"></h2>
            </div>
        </div>
        <button type="button" class="monitor-widget-close w-100 btn btn-outline-danger">Unsubscribe</button>
    </div>
</div>

@section Scripts
{
    <script src="@Url.Content("~/js/signalr.min.js")"></script>
    <script src="@Url.Content("~/js/monitor.js")"></script>
    <script src="@Url.Content("~/js/quotes.js")"></script>
}