<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="WebSocketUrl" value="wss://marketdata.tradermade.com/feedadv"/>
    <add key="WebSocketToken" value="wsCOvrbddhkb4RaJqBqA"/>
    <add key="DefaultConnection" value="server=127.0.0.1;database=amega;user=root;password=mysql;"/>
    <add key="RabbitMqServer" value="localhost"/>
    <add key="RabbitMqPort" value="5672"/>
    <add key="RabbitMqUser" value="guest"/>
    <add key="RabbitMqPassword" value="guest"/>
    <add key="RabbitMqDirectory" value="/"/>
  </appSettings>
</configuration>